html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
::after,
::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.body {
    font-family: 'Open Sans', sans-serif;
}

.wrapper__dark {
    background-color: rgb(27, 28, 31);
}

.whiteText {
    color: white;
}


.wrapper {
    position: relative;
    height: 100%;
    max-width: 100%;
    margin: 0 auto;
}